.backgrad{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
body{
    color: black !important;
    
}
header img{
    margin-left: 25px;
}
header h2{
    margin-top: 6px;
}
button a{
    font-style: None;
}
.stepper .line {
    width: 2px;
    background-color: lightgrey !important;
  }
  
  .stepper .lead {
    font-size: 1.1rem;
  }
.tgap{
    margin-left: 25px;
}