.backgrad{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}
body{
    color: black !important;
    background-color: white;
    font-family: Verdana;
    text-align: center;
    
}
header img{
    margin-left: 25px;
}
header h2{
    margin-top: 6px;
}
button a{
    font-style: None;
}

/* Styling the Form (Color, Padding, Shadow) */
form {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5); 
    border-radius: 30px;   
}

/* Styling form-control Class */
.form-control {
    text-align: left;
    margin-bottom: 25px;
}

/* Styling form-control Label */
.form-control label {
    display: block;
    margin-bottom: 10px;
}

/* Styling form-control input,
select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 20px;
    font-family: inherit;
    padding: 15px;
    display: block;
    width: 95%;
}


/* Styling Button */
.button_forms{
    background-color: rgb(26, 158, 26);
    border: 1px solid #777;
    border-radius: 20px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 15px;
   
}

.form-control{
    border-style: none;
    border-radius: 10px;
}
input{
    border-radius: 10px;
}
option{
    border-radius: 10px;
}
